.contact{
    padding:100px 8%;
    background:#eef8ff;
}

.contact h2{
    text-align:center;
    color:#0077b6;
    font-size:42px;
    margin-bottom:60px;
}

.contact-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
}

.contact-info{
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

.contact-info h3{
    color:#0077b6;
    margin-bottom:20px;
}

.contact-info p{
    margin:15px 0;
    font-size:18px;
}

.whatsapp-btn{
    display:inline-block;
    margin-top:25px;
    background:#25D366;
    color:white;
    text-decoration:none;
    padding:15px 35px;
    border-radius:40px;
    font-weight:bold;
}

.map iframe{
    width:100%;
    height:400px;
    border:none;
    border-radius:20px;
}
.contact-text{
    color:#374151;
}

body.dark .contact-text{
    color:#f1f5f9;
}
body.dark .contact-card{
    background:#1e293b;
}

body.dark .contact-card p,
body.dark .contact-card span,
body.dark .contact-card a{
    color:#e2e8f0;
}