.navbar{
display:flex;
justify-content:space-between;
align-items:center;

padding:18px 8%;

background:#0077b6;

color:white;

position:sticky;
top:0;

z-index:1000;
}

.logo{

font-size:28px;

font-weight:bold;

}

.nav-links{

display:flex;

gap:25px;

list-style:none;

}

.nav-links a{

color:white;

text-decoration:none;

font-weight:600;

}

.nav-links a:hover{

color:#90e0ef;

}

.nav-icons{

display:flex;

gap:10px;

}

.theme-btn,
.cart-btn{

width:45px;

height:45px;

border:none;

border-radius:50%;

cursor:pointer;

font-size:20px;

background:white;

}