*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{

background:#f4f9ff;

transition:.3s;

}

body.dark{

background:#111827;
color:white;

}

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 8%;

background:#0077b6;

color:white;

position:sticky;

top:0;

}

.logo{

font-size:26px;

font-weight:bold;

}

.navbar ul{

display:flex;

list-style:none;

gap:25px;

}

.navbar li{

cursor:pointer;

}

.right{

display:flex;

gap:10px;

align-items:center;

}

.right input{

padding:10px;

border:none;

border-radius:8px;

width:220px;

}

.theme-btn,
.cart{

width:45px;

height:45px;

border:none;

border-radius:50%;

cursor:pointer;

font-size:20px;

}

body.dark .navbar{

background:#1f2937;

}

body.dark input{

background:#374151;
color:white;

}