.product-card{
  background:white;
  border-radius:15px;
  overflow:hidden;
  text-align:center;
  padding:15px;
  box-shadow:0 8px 20px rgba(0,0,0,.15);
  transition:.3s;
}

.product-card:hover{
  transform:translateY(-8px);
}

.product-card img{
  width:100%;
  height:220px;
  object-fit:cover;
  border-radius:10px;
}

.product-card h3{
  margin:15px 0 8px;
}

.price{
  color:#0077b6;
  font-weight:bold;
  font-size:20px;
}

/* .product-card button{
  margin-top:15px;
  width:100%;
  padding:12px;
  border:none;
  background:#00C853;
  color:white;
  border-radius:30px;
  cursor:pointer;
  font-size:16px;
} */
.product-card{
    position:relative;
}

.badge{
    position:absolute;
    top:15px;
    left:15px;
    background:red;
    color:white;
    padding:6px 12px;
    border-radius:20px;
    font-size:12px;
    font-weight:bold;
}

.wishlist{
    position:absolute;
    top:15px;
    right:15px;
    width:40px;
    height:40px;
    border:none;
    background:white;
    color:red;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    font-size:18px;
    margin:0;
    padding:0;

}

.rating{
    color:gold;
    margin:10px 0;
}

.cart-btn{
    width:100%;
    margin-top:15px;
    padding:12px;
    background:#00C853;
    color:white;
    border:none;
    border-radius:30px;
    cursor:pointer;
    font-size:16px;
}

.cart-btn:hover{
    background:#009624;
}
body.dark .product-card{
    background:#1e293b;
    color:white;
    border:1px solid #334155;
}